<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.mapper.join.ItemsCommentsLeftJoinMapper">
    <resultMap id="ItemCommentResultMap" type="com.imooc.vo.ItemCommentVO">
        <result column="commentLevel" property="commentLevel" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="specName" property="specName" jdbcType="VARCHAR"/>
        <result column="createdTime" property="createdTime" jdbcType="DATE"/>
        <result column="userFace" property="userFace" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryItemComments" resultMap="ItemCommentResultMap" parameterType="Map">
        SELECT
            ic.comment_level as commentLevel,
            ic.content as content,
            ic.sepc_name as specName,
            ic.created_time as createdTime,
            u.face as userFace,
            u.nickname as nickname
        FROM items_comments ic
        LEFT JOIN users u ON ic.user_id = u.id
        WHERE ic.item_id = #{paramsMap.itemId}
        <if test="paramsMap.level != null and paramsMap.level != ''">
            AND ic.comment_level = #{paramsMap.level}
        </if>
    </select>
</mapper>